
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"
DATABASE_DOCKER_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public"

DATABASE_URL_TEST="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/testDB?schema=public"


NODE_ENV=development


MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=root
MONGO_URL=mongodb://admin:password@mongodb:27017/
   
DOMAIN_DEV=http://localhost:3000



POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=moviedb

PAGINATION=5


JWT_SECRET=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
SECRET_SESSION=



SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=


PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin123


CLOUDINARY_NAME=
CLOUDINARY_API=
CLOUDINARY_SECRET=

GOOGLE_CLIENT_ID=-
GOOGLE_CLIENT_SECRET=

GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
GOOGLE_REDIRECT_URL=http://localhost:3000/auth/google/redirect

GITHUB_CLIENT_ID=
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback
GITHUB_CLIENT_SECRET=


DISCORD_CLIENT_ID=
DISCORD_CALLBACK_URI=http://localhost:3000/auth/discord/callback
DISCORD_CLIENT_SECRET=

DISCORD_REDIRECT=
DISCORD_PUBLIC_ID=

